{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>Rover {% block title %}{% endblock %}</title>
</head>
<body>
    {% include "barra.html" %}
    {% block content %}
    {% endblock %}    
    <footer>
        <div id="pie_pagina">
            <h4>Gesti&oacute;n de Incidentes</h4>
            <h5>Telef&oacute;nica Colombia</h5>
        </div>
    </footer>
</body>
</html>